<?xml version="1.0"?>
<robot name="base" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- Define a macro for base_link -->
    <xacro:macro name="go2_base">
        <link name="base_link">
            <inertial>
                <origin xyz="0.021112 0 -0.005366" rpy="0 0 0" />
                <mass value="6.921" />
                <inertia
                    ixx="0.02448" ixy="0.00012166" ixz="0.0014849"
                    iyy="0.098077" iyz="-3.12E-05" izz="0.107" />
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="package://go2_description/meshes/base/base.dae" scale="1 1 1"/>
                </geometry>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="package://go2_description/meshes/base/base.dae" scale="1 1 1"/>
                </geometry>
            </collision>
        </link>
    </xacro:macro>
</robot>