<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

<xacro:include filename="$(find go2_description)/urdf/leg/hip.urdf.xacro"/>

  <xacro:macro name="go2_leg" params="prefix parent front reflect x y z">

    <xacro:go2_hip prefix="${prefix}" parent="${parent}" front="${front}" reflect="${reflect}">
      <origin xyz="${x} ${y} ${z}" rpy="0 0 0"/>
    </xacro:go2_hip>

  </xacro:macro>
</robot>
