<?xml version="1.0"?>
<robot name="imu_sensor" xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro name="imu_sensor" params="prefix parent *origin">

	  <joint name="${prefix}imu_joint" type="fixed">
	      <axis xyz="1 0 0"/>
	      <xacro:insert_block name="origin"/>
	      <parent link="${parent}"/>
	      <child link="${prefix}imu_link"/>
	  </joint>

	  <link name="${prefix}imu_link">
	      <inertial>
			<origin xyz="0.0 0 0.01" rpy="0 0 0" />
			<mass value="0.005" />
			    <inertia  	ixx="8.33E-10" ixy = "0" ixz = "0"
              				iyy="8.33E-10" iyz = "0"
              				izz="8.33E-10"
     			/>
		  </inertial>
	      <visual>
	        <origin rpy="0 0 0" xyz="0 0 0"/>
	        <geometry>
	          <box size="0.001 0.001 0.001"/>
	        </geometry>
	      </visual>
	  </link>

    <gazebo reference="${prefix}imu_link">
      <sensor name="${prefix}imu_sensor" type="imu">
        <always_on>1</always_on>
        <update_rate>30</update_rate>
        <topic>${prefix}imu/data</topic>
      </sensor>
    </gazebo>

  </xacro:macro>

</robot>