<?xml version="1.0"?>
<robot name="go2" xmlns:xacro="http://wiki.ros.org/xacro">

<!-- Import the Go2 body (base + legs) -->
<xacro:include filename="$(find go2_description)/urdf/go2.urdf.xacro"/>

<!-- Global Properties  -->
<xacro:property name="PI" value="3.1415926535897931"/>

<!-- Arguments -->
<xacro:arg name="prefix" default=""/>
<xacro:arg name="hesai_lidar" default="false"/>
<xacro:arg name="livox_lidar" default="false"/>
<xacro:arg name="realsense" default="false"/>
<xacro:arg name="name" default="go2"/>

<!-- Sensors -->
<!-- IMU -->
<xacro:include filename="$(find go2_description)/urdf/sensors/imu.urdf.xacro"/>
<xacro:imu_sensor prefix="$(arg prefix)" parent="$(arg prefix)base_link">
  <origin xyz="-0.02557 0 0.04232" rpy="0 0 0"/>
</xacro:imu_sensor>

<!-- camera -->
<xacro:include filename="$(find go2_description)/urdf/sensors/camera.urdf.xacro"/>
<xacro:camera_sensor prefix="$(arg prefix)" parent="$(arg prefix)base_link">
  <origin xyz="0.325 0 0.045" rpy="0 0 0"/>
</xacro:camera_sensor>

<!-- radar -->
<xacro:include filename="$(find go2_description)/urdf/sensors/radar.urdf.xacro"/>
<xacro:radar_sensor prefix="$(arg prefix)" parent="$(arg prefix)base_link">
  <origin xyz="0.28945 0 -0.046825" rpy="0 2.8782 0"/>
</xacro:radar_sensor>

<!-- hesai lidar -->
<xacro:include filename="$(find go2_description)/urdf/sensors/hesai.urdf.xacro"/>
<xacro:hesai_sensor prefix="$(arg prefix)" parent="$(arg prefix)base_link">
  <origin xyz="0.15 0 0.12" rpy="0 0 ${PI/2}"/>
</xacro:hesai_sensor>

<!-- Robot body (base + legs) -->
<xacro:go2 prefix="$(arg prefix)"/>

</robot>