<?xml version="1.0"?>
<robot name="go2" xmlns:xacro="http://wiki.ros.org/xacro">

<!-- Import the Go2 body (base + legs) -->
<xacro:include filename="$(find go2_description)/urdf/go2.urdf.xacro"/>

<!-- Global Properties  -->
<xacro:property name="PI" value="3.1415926535897931"/>

<!-- Arguments -->
<xacro:arg name="prefix" default=""/>
<xacro:arg name="hesai_lidar" default="false"/>
<xacro:arg name="livox_lidar" default="false"/>
<xacro:arg name="realsense" default="false"/>
<xacro:arg name="name" default="go2"/>

<!-- Sensors -->
<!-- Built-in sensors (IMU, front camera, L1 lidar) are defined inside the
     go2 macro. Only optional external sensors are added here. -->
<!-- hesai lidar -->
<xacro:include filename="$(find go2_description)/urdf/sensors/hesai.urdf.xacro"/>
<xacro:hesai_sensor prefix="$(arg prefix)" parent="$(arg prefix)base_link">
  <origin xyz="0.15 0 0.12" rpy="0 0 ${PI/2}"/>
</xacro:hesai_sensor>

<!-- Robot body (base + legs) -->
<xacro:go2 prefix="$(arg prefix)"/>

</robot>