<?xml version="1.0"?>
<robot name="calf" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="$(find go2_description)/urdf/leg/foot.urdf.xacro"/>
    <!-- Define a macro for calf -->
    <xacro:macro name="go2_calf" params="prefix parent *origin reflect">
        <xacro:property name="foot_offset_x" value="0.0"/>
        <xacro:property name="foot_offset_y" value="0.0"/>
        <xacro:property name="foot_offset_z" value="-0.213"/>

        <xacro:if value="${reflect}">
            <xacro:property name="y_sign" value="-1"/>
        </xacro:if>
        <xacro:unless value="${reflect}">
            <xacro:property name="y_sign" value="1"/>
        </xacro:unless>

        <joint name="${prefix}calf_joint" type="revolute">
            <parent link="${parent}"/>
            <child link="${prefix}calf_link"/>
            <xacro:insert_block name="origin" />
            <axis xyz="0 1 0" />
            <limit lower="-2.7227" upper="-0.83776" effort="45.43" velocity="15.70" />
        </joint>

        <link name="${prefix}calf_link">
            <inertial>
                <origin xyz="0.00548 ${-0.000975 * y_sign} -0.115" rpy="0 0 0" />
                <mass value="0.154" />
                <inertia
                    ixx="0.00108"   ixy="${3.4E-07 * y_sign}"   ixz="1.72E-05"
                    iyy="0.0011"    iyz="${8.28E-06 * y_sign}"  izz="3.29E-05" />
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <xacro:unless value="${reflect}">
                        <mesh filename="package://go2_description/meshes/leg/calf.dae" scale="1 1 1"/>
                    </xacro:unless>
                    <xacro:if value="${reflect}">
                        <mesh filename="package://go2_description/meshes/leg/calf_mirror.dae" scale="1 1 1"/>
                    </xacro:if>
                </geometry>
                <material
                    name="">
                    <color rgba="1 1 1 1" />
                </material>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <xacro:unless value="${reflect}">
                        <mesh filename="package://go2_description/meshes/leg/calf.dae" scale="1 1 1"/>
                    </xacro:unless>
                    <xacro:if value="${reflect}">
                        <mesh filename="package://go2_description/meshes/leg/calf_mirror.dae" scale="1 1 1"/>
                    </xacro:if>
                </geometry>
            </collision>
        </link>

        <xacro:go2_foot prefix="${prefix}" parent="${prefix}calf_link" reflect="${reflect}">
            <origin xyz="${foot_offset_x} ${foot_offset_y} ${foot_offset_z}" rpy="0 0 0"/>
        </xacro:go2_foot>

    </xacro:macro>
</robot>